body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 17px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-gighub {
    background-color: #ff4342;
    border-color: #ff4342;
}

    .navbar-gighub .navbar-nav > li > a {
        color: #fff;
    }

.navbar-brand-gighub {
    color: #fff;
    font-weight: 700;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: brown !important;
    border-color: rgba(205,40,39,0.55);
}

.dropdown a:hover {
    background-color: brown;
}

.form-control {
    font-size: 17px;
    padding: 20px 15px;
    border-radius: 9px;
}

    .form-control:focus {
        border-bottom-color: #2196f3;
        box-shadow: none;
    }

.btn {
    font-size: 17px;
    padding: 7px 20px;
    border-radius: 9px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}




body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif
}
